.container {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  color: #ffffff;
  padding-inline: 1.25rem;
}

.navItemsWrapper {
  margin-left: auto;
  display: flex;
  height: 100%;
}

.navItemsWrapper > *:not(:first-child) {
  margin-left: 2rem;
}

.logo {
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 1.25rem;
  }
}
