.container {
  /* top: 0;
  position: sticky;
  z-index: 2; */
  background-color: var(--nav-header-bg);
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #ffffff0f;
  display: flex;
  backdrop-filter: saturate(180%) blur(5px);
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  color: #ffffff;
}

.navItemsWrapper {
  margin-left: auto;
  display: flex;
  height: 100%;
}

.navItemsWrapper > *:not(:first-child) {
  margin-left: 2rem;
}

.logo {
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
