.container {
  display: block;
}

.container label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.container label .on,
.container label .off {
  margin-left: 0.7rem;
}

.container input[type="checkbox"] + label .on {
  display: none;
}

.container input[type="checkbox"] + label .off {
  display: block;
}

.container input[type="checkbox"]:checked + label .on {
  display: block;
}

.container input[type="checkbox"]:checked + label .off {
  display: none;
}
