.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container details {
}

.container summary {
  cursor: pointer;
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.container summary > span{
    
}

.container summary > .icon{

}

.container:not(:first-child) {
  margin-left: 1rem;
}

.container summary::marker {
  display: none;
}
