.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container details {
  font-size: 1rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.filter {
  display: flex;
  flex-wrap: nowrap;
}

.filter > label {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.3rem;
  align-items: center;
}

.filter > label .icon {
  font-size: 0.8rem;
}

.filter > label:nth-of-type(2) {
  margin-left: 1rem;
}

.filter > input:checked + label > .icon {
  transform: rotateX(180deg);
}

.sort {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
}

.sort select {
  border: none;
  outline: none;
}

.sort > div:not(:first-child) {
  margin-left: 1rem;
}

.filterNSortBar {
  display: grid;
  grid-template-columns: auto auto;
  gap: auto;
  align-items: center;
  margin-block: 1rem;
}

.container summary {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.container summary > span {
}

.container summary > .icon {
  margin-left: 1rem;
}

.container summary::marker {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.checkPill {
  margin-right: auto;
  text-align: start;
}

.apply {
  margin-top: 2rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border: 1px solid #000000;
  transition: all 300ms;
  width: fit-content;
}

.apply:hover {
  background-color: #00000000;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .filterNSortBar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .filterNSortBar > .sort {
    margin-left: 0;
  }
}
