.container {
  /* position: sticky;
  top: 0; */
  height: 90px;
  z-index: 2;
  backdrop-filter: saturate(180%) blur(5px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--nav-header-bg);
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  color: #ffffff;
  padding-inline: 1.25rem;
}

.logo {
}

.toggle {
  border: none;
  background-color: #00000000;
  cursor: pointer;
  color: #ffffff;
}

.toggle .icon {
  width: 2rem;
  height: 2rem;
}

.menu {
  overflow-x: hidden; /* Otherwise causes page to overflow */
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  padding-block: 1.5rem;
  width: 0;
  transition: visibility 300ms, width 500ms;
  z-index: 3;
  visibility: collapse;
}

.menu.open {
  width: 100vw;
  visibility: visible;
}

.menu .close {
  padding: 1rem 1.25rem;
  margin-left: auto;
  margin-right: 1rem;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: #00000000;
  color: gray;
  cursor: pointer;
}

.menu .navItem {
  padding: 1rem 1.25rem 1rem 1.7rem;
  font-size: 1.25rem;
  border-bottom: 1px solid lightgray;
}

.menu .navItem:nth-child(2) {
  border-top: 1px solid lightgray;
}

.menu .close .icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (min-width: 769px) {
  .container {
    display: none;
  }
}
